[submodule "src/PatchThis"]
	path = src/PatchThis
	url = https://github.com/guimspace/PatchThis.git
[submodule "src/SessionService"]
	path = src/SessionService
	url = https://github.com/guimspace/SessionService.git
[submodule "src/gas-goldfish"]
	path = src/gas-goldfish
	url = https://github.com/guimspace/gas-goldfish.git
